# example adopted
# https://github.com/python-poetry/poetry/discussions/4205

stages:
  - tests

.install-deps-template: &install-deps
  before_script:
    - ln -fs /usr/share/zoneinfo/UTC /etc/localtime
    - cp DOIRootCA2.crt /usr/local/share/ca-certificates/.
    - apt-get update
    - apt-get -y upgrade
    - >-
      apt-get -y --fix-missing --no-install-recommends install gdal-bin
      libgdal-dev software-properties-common curl unzip git-all make
      build-essential wget
    - apt-get -y install ca-certificates language-pack-en
    - apt-get clean
    - update-ca-certificates
    - export SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
    - mamba config --set ssl_verify /etc/ssl/certs/ca-certificates.crt
    - mamba update -n base mamba
    - mamba env update -n base --file environment.yml
    - mamba init bash
    - source ~/.bashrc
    - source activate base

    - which python
    - poetry config virtualenvs.create false
    - poetry install
    - pre-commit install --install-hooks

.docker-template: &docker
  <<: *install-deps
  image: condaforge/mambaforge:22.9.0-2
  stage: tests

#test jobs -----------------------
# check-code:
#   <<: *docker
#   script: nox -s pre-commit

# check-safety:
#   <<: *docker
#   script:
#     - nox -s safety

# coverage-check:
#   <<: *docker
#   script:
#     - nox -s tests
#     - nox -s coverage

# check-typing:
#   <<: *docker
#   script:
#     - nox -s mypy

check-tests:
  <<: *docker
  script:
    - nox -s tests
# check-typeguard:
#   <<: *docker
#   script:
#     - nox -s typeguard
