# example adopted
# https://github.com/python-poetry/poetry/discussions/4205

stages:
  - tests

.install-deps-template: &install-deps
  before_script:
    - ln -fs /usr/share/zoneinfo/UTC /etc/localtime
    - apt-get update
    - apt-get -y upgrade
    - apt-get -y install gdal-bin libgdal-dev libstdc++6 libgl1-mesa-glx
    - apt-get -y install ffmpeg libsm6 libxext6
    - mamba update -n base mamba
    - mamba env update -n base --file environment.yml
    - mamba init bash
    - source ~/.bashrc
    - source activate base
    - which python
    - poetry config virtualenvs.create false
    - poetry install
    - pre-commit install --install-hooks

.docker-template: &docker
  <<: *install-deps
  image: condaforge/mambaforge:latest
  stage: tests

#test jobs -----------------------
# check-code:
#   <<: *docker
#   script: nox -s pre-commit

# check-safety:
#   <<: *docker
#   script:
#     - nox -s safety

# coverage-check:
#   <<: *docker
#   script:
#     - nox -s tests
#     - nox -s coverage

# check-typing:
#   <<: *docker
#   script:
#     - nox -s mypy

check-tests:
  <<: *docker
  script:
    - nox -s tests
# check-typeguard:
#   <<: *docker
#   script:
#     - nox -s typeguard
